# Muteb SOC Environment Configuration


PROJECT_NAME=Muteb-SOC


VERSION=1.0.0


ENVIRONMENT=Production



# Future API Configuration


THREAT_INTELLIGENCE_API_KEY=


SIEM_SERVER=
PROJECT_NAME=Muteb-SOC

PROJECT_ENV=Development

REPORT_PATH=reports

LOG_PATH=logs

BACKUP_PATH=backup

DEFAULT_TARGET=127.0.0.1

DEFAULT_TIMEOUT=1
