
# MUTEB SOC Enterprise v2.1.1

## Release Verification


## Git Information


Branch:

develop


Latest Commit:

f113054 Lock MUTEB SOC Enterprise v2.1.1 final portfolio release


Tags:

v1.0.0
v1.1.0
v1.3.0
v14-stable
v2.0.0
v2.1.0
v2.1.1



## Release Status


Version:

v2.1.1


Status:

FINAL PORTFOLIO RELEASE


