body{
margin:0;
background:#020617;
font-family:Arial;
}


.login{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
color:white;
}


.box{
background:#0f172a;
padding:40px;
border-radius:15px;
border:1px solid #0284c7;
}


input{
display:block;
padding:12px;
margin:10px;
width:250px;
}


button{
width:275px;
padding:12px;
background:#0284c7;
color:white;
border:0;
}


.dashboard{
color:white;
padding:30px;
}


.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}


.card{
background:#0f172a;
padding:20px;
border-radius:15px;
border:1px solid #0284c7;
}



.map{

height:250px;
background:#020617;
border:1px solid #0284c7;
border-radius:15px;
position:relative;
display:flex;
align-items:center;
justify-content:center;
}


.attack{
position:absolute;
top:40px;
left:30%;
font-size:35px;
}


.two{
left:60%;
top:120px;
}


.three{
left:45%;
top:180px;
}


.bar{

height:20px;
margin:10px;
width:200px;
}


.green{
background:#22c55e;
}


.yellow{
background:#eab308;
}


.red{
background:#ef4444;
}


table{

width:100%;
background:#0f172a;
padding:20px;

}


td{

padding:15px;

}


footer{

margin-top:40px;
color:#94a3b8;

}


body{
background:
radial-gradient(circle at top,#0f172a,#020617);
color:white;
}



.dashboard h1{

color:#38bdf8;
text-shadow:0 0 15px #0284c7;

}



.card{

background:
linear-gradient(
145deg,
#0f172a,
#020617
);

box-shadow:
0 0 15px rgba(14,165,233,.25);

transition:.3s;

}



.card:hover{

transform:translateY(-5px);

box-shadow:
0 0 25px rgba(14,165,233,.7);

}



.map{

overflow:hidden;

box-shadow:
0 0 25px rgba(14,165,233,.4);

}



.attack{

animation:pulse 2s infinite;

}



@keyframes pulse{

0%{
transform:scale(1);
opacity:1;
}

50%{
transform:scale(1.5);
opacity:.5;
}

100%{
transform:scale(1);
opacity:1;
}

}



table{

border-collapse:collapse;

}



td{

border-bottom:
1px solid #1e293b;

}



td:last-child{

font-weight:bold;

}



footer{

text-align:center;

}

