

body{

margin:0;
font-family:Arial;
background:#020617;

}



.login{

height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:
linear-gradient(135deg,#020617,#0f172a);

}



.card{

background:#111827;
padding:40px;
border-radius:20px;
color:white;
width:350px;
text-align:center;

}



input{

width:90%;
padding:12px;
margin:10px;

}



button{

padding:12px 25px;
cursor:pointer;

}



.dashboard{

min-height:100vh;
background:#020617;
color:white;
padding:40px;

}



.dashboard section{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;

}



.dashboard section div{

background:#111827;
padding:25px;
border-radius:15px;

}

